$bg-color-header: rgb(49, 98, 189);
$bg-color-section: white;
$btn-bg-color-add: rgb(49, 98, 189);
$btn-bg-color-del: rgb(9, 9, 162);
$text-color-li: rgb(61, 61, 67);
$bg-color-li: rgb(92, 156, 244);
$bor-color-li: rgb(180, 180, 218);
$bor-color-input: rgb(49, 98, 189);
